*,*::before, *::after {
    box-sizing: border-box;
}

.sliderDiv {
    display: flex;
    flex-direction: row;
    width: 100vh;
    height: 100%;
    justify-content: center;
}

.beerSlider {
    margin-top: 70px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    justify-content: center;
    transition: translate 1000ms ease-in-out;
}

.beerItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.articleImage {
    height: 70%;
    width: 100%
}
.data{
    color: white;
    font-weight: bold;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(57, 91, 100,0.8);
    background-color: rgb(57, 91, 100,0.8);
    position: relative;
    right: 0;
    top: 15%;
    border-radius: 10px;
    max-height: 25%;
    padding: 0 50px;
    margin-top: 10%;
}

.sliderButton {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
}

.sliderButton > * {
    stroke: white;
    fill: black;
}

.sliderButton:hover{
    background-color: rgb(0, 0, 0,0.2);
}

.mainContainer {
    width: 100vh;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}

.beerTitle {
    //padding-left: 50%;
    font-size: xx-large;
    color: white;
}

.circle {
    width: 200px; /* Set the desired width and height for your circle */
    height: 200px;
    background-color: red; /* Background color of the circle */
    color: white; /* Text color */
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 40%;
    top: 65%;
    font-size: 40px; /* Adjust font size as needed */
    font-weight: bold; /* Bold text for emphasis */
  }

